.all {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.header {
/* From https://css.glass */
  background: #9bdbf668;
  box-shadow: 0 4px 30px #0000000d;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 0.0625rem solid #7ef1ef93;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar_item{
    display: flex;
    list-style: none;
    gap:1.5rem;
}
.navbar_item li a {
  text-decoration: none;
  color: #000000b9;
  font-weight: 500;
}


.navbar_item li:hover {
  background-color: #7cb1df5b;
  border-radius: 10%;
  filter: brightness(110%);
}